<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python 3.5 on Azure App Service. To use a different version of Python,
or to use a hosting service other than Azure, replace the scriptProcessor path below with the path given
to you by wfastcgi-enable or your provider.

For Python 2.7 on Azure App Service, the path is "D:\home\Python27\python.exe|D:\home\Python27\wfastcgi.py"

The WSGI_HANDLER variable should be an importable variable or function (if followed by '()') that returns
your WSGI object.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <appSettings>
    <add value="django.core.wsgi.get_wsgi_application()" key="WSGI_ALT_VIRTUALENV_HANDLER"/>
    <add value="D:\home\site\wwwroot\env\Scripts\python.exe" key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS"/>
    <add value="ptvs_virtualenv_proxy.get_venv_handler()" key="WSGI_HANDLER"/>
    <add value="D:\home\site\wwwroot" key="PYTHONPATH"/>
    <add value="JmanOps.settings" key="DJANGO_SETTINGS_MODULE"/>
    <add value="D:\home\LogFiles\wfastcgit.log" key="WSGI_LOG"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add requireAccess="Script" resourceType="Unspecified" scriptProcessor="D:\home\Python364x64\python.exe|D:\home\Python364x64\wfastcgi.py" modules="FastCgiModule" verb="*" path="*" name="PythonHandler"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add pattern="false" input="true"/>
          </conditions>
        </rule>
        <rule name="Configure Python" stopProcessing="true">
          <match ignoreCase="false" url="(.*)"/>
          <conditions>
            <add pattern="^/static/.*" input="{REQUEST_URI}" ignoreCase="true" negate="true"/>
          </conditions>
          <action url="handler.fcgi/{R:1}" appendQueryString="true" type="Rewrite"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>